# Vim
.*.swp

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# this is just a soft link to .dataproc_profile
# the reason i am using it is to get the vim syntax highlighting
.bash_profile
