provider "google" {
  credentials = file("KEYFILE")
  project = "PROJECT"
  region  = "REGION"
  zone    = "ZONE"
}

resource "google_dataproc_cluster" "CLUSTER" {
  name   = "CLUSTER"
  region = "REGION"
}
